version: 2
updates:

  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/camunda-formio-react-app"
    schedule:
      interval: "weekly"
    allow:
      # Allow updates for React and any packages starting "react"
      - dependency-name: "react*"
    open-pull-requests-limit: 10

  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10