#
# Camunda Platform Accelerator for Form.io Community License v1.0
#
# This Camunda Platform Accelerator for Form.io Community License v1.0 (“this Agreement”) sets
# forth the terms and conditions on which Soft Cannery LTD. (“the Licensor”) makes available
# this software (“the Software”). BY INSTALLING, DOWNLOADING, ACCESSING, USING OR DISTRIBUTING
# THE SOFTWARE YOU INDICATE YOUR ACCEPTANCE TO, AND ARE ENTERING INTO A CONTRACT WITH,
# THE LICENSOR ON THE TERMS SET OUT IN THIS AGREEMENT. IF YOU DO NOT AGREE TO THESE TERMS,
# YOU MUST NOT USE THE SOFTWARE. IF YOU ARE RECEIVING THE SOFTWARE ON BEHALF OF A LEGAL ENTITY,
# YOU REPRESENT AND WARRANT THAT YOU HAVE THE ACTUAL AUTHORITY TO AGREE TO THE TERMS AND
# CONDITIONS OF THIS AGREEMENT ON BEHALF OF SUCH ENTITY. “Licensee” means you, an individual,
# or the entity on whose behalf you are receiving the Software.
#
# Permission is hereby granted, free of charge, to the Licensee obtaining a copy of this
# Software and associated documentation files, to deal in the Software without restriction,
# including without limitation the rights to use, copy, modify, merge, publish, distribute,
# sublicense, and/or sell copies of the Software, and to permit persons to whom the Software
# is furnished to do so, subject in each case to the following conditions:
#
# Condition 1: If the Licensee distributes the Software or any derivative works of the Software,
# the Licensee must attach this Agreement.
#
# Condition 2: Without limiting other conditions in this Agreement, the grant of rights under
# this Agreement does not include the right to provide Commercial Product or Service. Written
# permission from the Licensor is required to provide Commercial Product or Service.
#
# A “Commercial Product or Service” is software or service intended for or directed towards
# commercial advantage or monetary compensation for the provider of the product or service
# enabling parties to deploy and/or execute Commercial Product or Service.
#
# If the Licensee is in breach of the Conditions, this Agreement, including the rights granted
# under it, will automatically terminate with immediate effect.
#
# SUBJECT AS SET OUT BELOW, THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
# HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
# TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.
#
# NOTHING IN THIS AGREEMENT EXCLUDES OR RESTRICTS A PARTY’S LIABILITY FOR (A) DEATH OR PERSONAL
# INJURY CAUSED BY THAT PARTY’S NEGLIGENCE, (B) FRAUD, OR (C) ANY OTHER LIABILITY TO THE EXTENT
# THAT IT CANNOT BE LAWFULLY EXCLUDED OR RESTRICTED.
#

services:
  nginx:
    image: nginx:latest
    container_name: proxy
    ports:
      - 80:80
    links:
      - camunda-bpm
      - spring-content
      - keycloak
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf

  postgres:
    image: postgres
    container_name: postgres
    # ports:
    #   - 5432:5432/tcp
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${PSSWRD}
      POSTGRES_USER: ${POSTGRES_ADMIN}

  greenmail:
    image: greenmail/standalone:2.1.2
    container_name: greenmail
    ports:
      - "3025:25/tcp"
      - "3110:110/tcp"
      - "3143:143/tcp"
      - "3465:465/tcp"
      - "3993:993/tcp"
      - "3995:995/tcp"
      - "8088:8080/tcp"
    environment:
      GREENMAIL_OPTS: -Dgreenmail.setup.all -Dgreenmail.hostname=0.0.0.0 -Dgreenmail.auth.disabled

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    depends_on:
      - greenmail
    ports:
      - 8000:80
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=greenmail  # IMAP server - tls:// prefix for STARTTLS, ssl:// for SSL/TLS
      - ROUNDCUBEMAIL_DEFAULT_PORT=143       # IMAP port
      - ROUNDCUBEMAIL_SMTP_SERVER=greenmail   # SMTP server - tls:// prefix for STARTTLS, ssl:// for SSL/TLS
      - ROUNDCUBEMAIL_SMTP_PORT=25          # SMTP port

  camunda-bpm:
    image: ${IMG_REPO}camunda-formio-example:${IMAGE_TAG}
    build:
      context: ./camunda-formio-example
    container_name: camunda
#    ports:
#      - 8080:8080
    env_file:
      - .env
    volumes:
      - ${BPMN_DIR}:/opt/config/bpmn
    environment:
      OAUTH2_SSO_HOST: ${OAUTH2_SSO_HOST}
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_ADMIN}
      SPRING_DATASOURCE_PASSWORD: ${PSSWRD}
      SPRING_JPA_GENERATE_DDL: "true"
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      CAMUNDA_BPM_ADMIN_USER_ID: ${CAMUNDA_ADMIN}
      CAMUNDA_BPM_ADMIN_USER_PASSWORD: ${PSSWRD}
      SERVER_SERVLET_CONTEXT_PATH: "/bpm"
      SPRING_CONTENT_URL: "http://localhost/bpm"
      IMAP_HOST: greenmail
      IMAP_PORT: 143
      SMTP_HOST: greenmail
      SMTP_PORT: 25

  spring-content:
    image: ${IMG_REPO}camunda-formio-content:${IMAGE_TAG}
    build:
      context: ./camunda-formio-content
    container_name: content
#    ports:
#      - 8081:8081
    volumes:
      - files:/mnt/files
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/postgres
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_ADMIN}
      SPRING_DATASOURCE_PASSWORD: ${PSSWRD}
      SPRING_JPA_GENERATE_DDL: "true"
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_CONTENT_FS_FILESYSTEM_ROOT: /mnt/files
      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: "100MB"
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: "100MB"
      SPRING_CONTENT_URL: "http://localhost/content"
      SERVER_SERVLET_CONTEXT_PATH: "/content"

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    ports:
      - 8082:8080
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${PSSWRD}
      KEYCLOAK_FRONTEND_URL: "http://localhost/auth"
      PROXY_ADDRESS_FORWARDING: "true"
      KC_HTTP_RELATIVE_PATH: "/auth"
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://postgres:5432/postgres"
      KC_DB_USERNAME: ${POSTGRES_ADMIN}
      KC_DB_PASSWORD: ${PSSWRD}
    volumes:
      - ./nginx/camunda-realm.json:/opt/keycloak/data/import/camunda-realm.json

volumes:
  postgres: {}
  files: {}
